<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Bienvenido <%= currentUser.firstName %></li>
		<li><a href="/agent/dashboard">Dashboard</a></li>
		<li><a href="/agent/collections/pending">Mis Colectas Pendientes</a></li>
		<li><a href="/agent/collections/previous">Mis Colectas Anteoriores</a></li>
		<li><a href="/agent/profile">Mi Perfil</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>