<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Bienvenido <%= currentUser.firstName %></li>
		<li><a href="/agent/dashboard">Dashboard</a></li>
		<li><a href="/agent/collections/pending">Mis colectas pendientes</a></li>
		<li><a href="/agent/collections/previous">Mis recolecciones previas</a></li>
		<li><a href="/agent/profile">Mi Perfil</a></li>
		<li><a href="/auth/logout" class="btn">Cerrar Sesion</a></li>
	</ul>
</div>