<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Bienvenido <%= currentUser.firstName %></li>
		<li><a href="/donor/dashboard">Dashboard</a></li>
		<li><a href="/donor/donate">Donar</a></li>
		<li><a href="/donor/donations/pending">Mis Donaciones Pendientes</a></li>
		<li><a href="/donor/donations/previous">Mis Donaciones Anteriores</a></li>
		<li><a href="/donor/profile">Mi Perfil</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>