<section class="about-us-container">
  <div class="about-us-content">
    <!-- Imagen izquierda -->
    <div class="about-us-image">
      <img src="/assets/images/img-1.jpg" alt="Sobre Nosotros">
    </div>

    <!-- Texto derecha -->
    <div class="about-us-text">
      <h2>Sobre Nosotros</h2>
      <p>
        Somos una ONG que lucha contra el desperdicio de alimentos y el hambre en comunidades vulnerables. Recolectamos alimentos en buen estado de restaurantes y supermercados para distribuirlos de forma segura a quienes más lo necesitan.
        <br><br>
        Creemos en la solidaridad y la acción colectiva para construir un futuro más justo y sostenible.
      </p>
    </div>
  </div>
</section>

