<section class="about-us-container">
  <div class="about-us-content">
    <!-- Imagen izquierda -->
    <div class="about-us-image">
      <img src="/assets/images/img-2.jpg" alt="Contáctanos">
    </div>

    <!-- Texto derecha -->
    <div class="about-us-text">
      <h2>Contáctanos</h2>
      <p>
        Dirección: Av. Solidaridad 123, Lima, Perú<br>
        Teléfono: (01) 345-6789<br>
        Correo electrónico: contacto@ongsolidaria.org<br>
        Horario de atención: <br>
		Lunes a Viernes, de 9:00 a.m. a 5:00 p.m.
      </p>

      <!-- Íconos de redes sociales -->
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank">
          <img src="/assets/images/facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="/assets/images/instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <img src="/assets/images/linkedin.png" alt="LinkedIn" />
        </a>
        <a href="https://www.tiktok.com/" target="_blank">
          <img src="/assets/images/tiktok.png" alt="TikTok" />
        </a>
      </div>
    </div>
  </div>
</section>
