<section class="about-us-container">
  <div class="about-us-content">
    <!-- Imagen izquierda -->
    <div class="about-us-image">
      <img src="/assets/images/img-4.jpg" alt="Mision">
    </div>

    <!-- Texto derecha -->
    <div class="about-us-text">
      <h2>Misión</h2>
      <p>
        Nuestra misión es combatir el hambre y el desperdicio de alimentos en comunidades vulnerables del Perú. Recolectamos excedentes de alimentos en buen estado de negocios y los distribuimos de forma segura a quienes más lo necesitan.
        <br><br>
        Nos dedicamos a transformar la abundancia en esperanza, asegurando que cada alimento tenga un propósito y llegue a la mesa de quienes más lo valoran.
      </p>
    </div>
  </div>
</section>