<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="/assets/images/img-3.jpg" class="d-block w-100" alt="Primera imagen">
      <div class="carousel-caption d-block">
        <h2 class="fw-bold">Transforma Tus Excedentes en Esperanza para el Perú</h2>
        <p>Como supermercado o restaurante, tienes el poder de generar un cambio real. Tus alimentos excedentes, que de otra manera podrían terminar en el desecho, pueden convertirse en sustento vital para comunidades necesitadas. Únete a nuestra red y convierte tu responsabilidad social en acciones tangibles, mejorando vidas y fortaleciendo el tejido social de nuestro país.</p>
        <a href="/auth/login" class="btn mt-2">Donar</a>
      </div>
    </div>

    <div class="carousel-item position-relative">
      <img src="/assets/images/img-5.jpg" class="d-block w-100" alt="Segunda imagen">
      <div class="carousel-caption d-block">
        <h2 class="fw-bold">Tu Negocio: Un Aliado Clave Contra el Hambre</h2>
        <p>Súmate a la solución del desperdicio alimentario. Al donar los productos que no puedes comercializar pero que siguen siendo aptos para el consumo, no solo reduces tu huella ambiental, sino que también nutres a quienes más lo necesitan. Es una oportunidad para tu marca de liderar con el ejemplo, demostrando un compromiso genuino con la comunidad.</p>
        <a href="/auth/login" class="btn mt-2">Donar</a>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
